#myheaderbtnbar{
    margin-top: 16px;
    line-height: px;
}
#myheaderbtnbar>ul>li>a{
    color: white;
}
#myheaderbtnbar>ul>li>a:hover{
    color: #0d3d88;
}
.dropdown-menu>ul>li>a{
    color:#0d3d88;
}
.dropdown-menu>ul>li>a:hover{
    color:#0d3d88;
}