<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>聚焦当下</title>
  <script type="text/javascript" src="/static/js/common/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/common/zui.js"></script>
  <link  rel="stylesheet" href="/static/css/common/zui.css"/>
  <link  rel="stylesheet" href="/static/css/common/mytoolkit.css"/>
  <link rel="icon" href="/static/icon/favicon.ico" />
  <style>
    .mydiv1 { /*  */
      padding-top: 25px;
      padding-bottom: 20px;
    }


  </style>

</head>
<body>
  <div>
    <header></header>
    <section class="">
      <div class="container">
        <div class="row middle ovh ">
          <div class="col-md-6 col-md-offset-2 mydiv1 myborder1" style="background-color: #e6ecf0;">
            <img src="/static/icon/favicon.ico" alt="logo" style="width: 40px;height: 40px;"/>
            <div id="hyperlinkbox">
              <div class="myh1" style="">看看相片上的新鲜事</div>
              <div class="myh2">
                <a href="/index/showall" style="color: #14171a;">现在就进入Tomoz。</a>
              </div>
            </div>
          </div>
          <div class="col-md-push-4"></div>
        </div>
        <div class="row">...</div>
      </div>
    </section>
    <footer></footer>
  </div>

  <script type="text/javascript">
      // document.getElementById("hyperlinkbox").addEventListener("click", function(e){
      //     alert();
      // })
  </script>
</body>
</html>
